<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>packages\v-client.debug-package.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>/MyApp</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="CiOnWebApiContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Examples.WebApi.Models.ExampleDbContext, Examples.WebApi" MigrationConfiguration="Examples.WebApi.Migrations.Configuration, Examples.WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExampleDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\ProjectsV13;AttachDbFilename=|DataDirectory|CiOnWebApi-20170115005150.mdf;Initial Catalog=CiOnWebApi-20170115005150;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExampleDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\ProjectsV13; Initial Catalog=CiOnWebApi-20170115005150; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|CiOnWebApi-20170115005150.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CiOnWebApiContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExampleDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>